<!-- header.html -->
<header>
    <nav class="container">
        <div class="logo">
            <a href="home" style="display: flex; align-items: center; gap: 0.5rem;">
                <img src="images/logo.svg" alt="RF Logo" style="height: 50px;">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="home">Home</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="about">Journey</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>
</header>